{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Auctions{% endblock %}</title>
  <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
  <div id="header">
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li class="{{ message.tags }}">
            {{ message|safe }}
              <a href="#" class="close">x</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    <span class="logo">Auctions</span>
  {% if request.user.is_authenticated %}
      <ul class="menu">
        <li {% if section == "dashboard" %}class="selected"{% endif %}>
          <a href="{% url 'dashboard' %}">My dashboard</a>
        </li>
        <li {% if section == "Auctions" %}class="selected"{% endif %}>
          <a href="{% url 'read_list' %}">Auctions</a>
        </li>
      </ul>
    {% endif %}

    <span class="user">
      {% if request.user.is_authenticated %}
        Hello {{ request.user.first_name }},
        <a href="{% url 'logout' %}">Logout</a>
      {% else %}
        <a href="{% url 'login' %}">Log-in</a>
      {% endif %}
    </span>
  </div>
  
  <div id="content">
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li class="{{ message.tags }}">
            {{ message|safe }}
              <a href="#" class="close">x</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    {% block content %}
    {% endblock content %}
    
        <li class="dropdown-li">
        <a class="dropdown-li-a" href="{% url 'about' %}">{% trans 'About' %}</a>
        </li>


    <div class="footer">
        <form class="language-switcher" action="{% url 'set_language' %}" method="post">
          {% csrf_token %}
        <input name="next" type="hidden" value="{{redirect_to}}" >
        <select name="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected {% endif %}>
        {{ language.name_local }} ({{ language.code }})
        </option>
        {% endfor %}
        </select>
        <button type="submit">Go</button>
        </form>
    </div>
  </div>
</body>

</html>
